name: Deploy staging
on:
  workflow_dispatch:
  pull_request:
    types: [ opened, synchronize, edited, reopened ]
concurrency:
  group: build-release-version
  cancel-in-progress: false
permissions:
  issues: write
  contents: write
  pull-requests: write

env:
  TF_VAR_env: staging
  TF_VAR_zone_id: ${{ secrets.ZONE_ID }}
  TF_VAR_root_domain: foam-app.com
  TF_VAR_deployed_by: ${{ github.actor }}
  TF_VAR_git_sha: ${{ github.sha }}
  TF_VAR_sentry_dsn: "unused"
  TF_VAR_authorizer_dsn: ${{ secrets.SENTRY_AUTHORIZER_DSN }}
  TF_VAR_proxy_dsn: ${{ secrets.SENTRY_PROXY_DSN }}

jobs:
  release:
    name: Deploy staging
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Load secrets
        id: load_secrets
        uses: 1password/load-secrets-action@v3
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          TWITCH_CLIENT_ID: op://ci-cd/foam-staging/TWITCH_CLIENT_ID
          TWITCH_CLIENT_SECRET: op://ci-cd/foam-staging/TWITCH_CLIENT_SECRET
          STAGING_PRIVATE_KEY: op://ci-cd/foam-staging/STAGING_PRIVATE_KEY
          STAGING_CERTIFICATE_BODY: op://ci-cd/foam-staging/STAGING_CERTIFICATE_BODY
          CERTIFICATE_CHAIN: op://ci-cd/foam-staging/CERTIFICATE_CHAIN
          STAGING_API_KEY: op://ci-cd/foam-staging/STAGING_API_KEY

      - name: Set Terraform variables
        run: |
          echo "TF_VAR_twitch_client_id=${{ steps.load_secrets.outputs.TWITCH_CLIENT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_twitch_client_secret=${{ steps.load_secrets.outputs.TWITCH_CLIENT_SECRET }}" >> $GITHUB_ENV
          echo "TF_VAR_private_key=${{ steps.load_secrets.outputs.STAGING_PRIVATE_KEY }}" >> $GITHUB_ENV
          echo "TF_VAR_certificate_body=${{ steps.load_secrets.outputs.STAGING_CERTIFICATE_BODY }}" >> $GITHUB_ENV
          echo "TF_VAR_certificate_chain=${{ steps.load_secrets.outputs.CERTIFICATE_CHAIN }}" >> $GITHUB_ENV
          echo "TF_VAR_api_key=${{ steps.load_secrets.outputs.STAGING_API_KEY }}" >> $GITHUB_ENV
      - name: Install
        uses: ./.github/actions/install

      - name: Validate
        uses: ./.github/actions/validate

      - name: Build lambdas
        shell: bash
        run: bun run build

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          environment: staging
          aws-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
