name: Deploy production
on:
  workflow_dispatch:
  push:
    branches:
      - main
concurrency:
  group: build-production-version
  cancel-in-progress: false
permissions:
  issues: write
  contents: write
  pull-requests: write

env:
  TF_VAR_env: production
  TF_VAR_twitch_client_id: ${{ secrets.TWITCH_CLIENT_ID }}
  TF_VAR_api_key: ${{ secrets.STAGING_API_KEY }}
  TF_VAR_twitch_client_secret: ${{ secrets.TWITCH_CLIENT_SECRET }}
  TF_VAR_zone_id: ${{ secrets.ZONE_ID }}
  TF_VAR_root_domain: foam-app.com
  TF_VAR_private_key: ${{ secrets.PRODUCTION_PRIVATE_KEY }}
  TF_VAR_certificate_body: ${{ secrets.PRODUCTION_CERTIFICATE_BODY }}
  TF_VAR_certificate_chain: ${{ secrets.CERTIFICATE_CHAIN }}
  TF_VAR_deployed_by: ${{ github.actor }}
  TF_VAR_git_sha: ${{ github.sha }}
  TF_VAR_sentry_dsn: "unused"
  TF_VAR_authorizer_dsn: ${{ secrets.SENTRY_AUTHORIZER_DSN }}
  TF_VAR_proxy_dsn: ${{ secrets.SENTRY_PROXY_DSN }}

jobs:
  release:
    name: Deploy production
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Install
        uses: ./.github/actions/install

      - name: Validate
        uses: ./.github/actions/validate

      - name: Build lambdas
        shell: bash
        run: bun run build

      - name: Deploy
        uses: ./.github/actions/deploy
        with:
          environment: production
          aws-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
